.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.form label {
  margin-top: 10px;
}

.form input {
  padding: 5px;
  margin-top: 10px;
}
.form select {
  padding: 5px;
  margin-top: 10px;
}

.submit-data {
  display: flex;
  flex-direction: row;
}
